* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: url(./NMS_3.jpg) center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  color: blanchedalmond;
}

h1 {
  color: rgb(255, 11, 161);
  font-size: 5rem;
  font-weight: normal;
  text-align: center;
}
