* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(218, 218, 218);
  position: relative;
  background: url(../img/skyscape_bg.jpg) center/cover;
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(218, 218, 218);
  z-index: 500;
}
a:visited {
  color: rgb(218, 218, 218);
}
a:hover {
  color: rgba(236, 74, 182, 0.747);
}
li:hover {
  transform: scale(1.3);
}

span {
  border-radius: 100px;
  position: absolute;
  /* mix-blend-mode: difference; */
}
.pointer {
  background: rgba(173, 101, 240, 0.747);
  height: 15px;
  width: 15px;
  transform: translate(-50%, -50%);
}
.pointerBg {
  background: rgba(255, 255, 255, 0.5);
  height: 80px;
  width: 80px;
  transform: translate(-50%, -50%);
}
header {
  background: #000000;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 40%,
    rgba(255, 255, 255, 0) 100%
  );
  height: 150px;
}
nav {
  width: 95%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h3 {
  font-size: 2rem;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 100px;
}

li {
  font-size: 1.2rem;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 1.5rem;
  font-weight: 100;
  font-style: italic;
  margin-top: -10px;
}
h4 {
  font-size: 1.8rem;
}
p {
  padding: 20px 0;
}
/* ****** MAIN ****** */

/* ****** INTRO ****** */
.intro {
  margin: 100px 0;
}

/* ****** SECTION 1 à 3 ****** */
.sec1,
.sec2,
.sec3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px auto;
}

.sec1,
.sec2 {
  border-bottom: 1.5px solid rgba(173, 101, 240, 0.5);
}

.sec1left {
  background: url(../img/nebula.jpg) center/cover;
  opacity: 0.7;
}
.sec2right {
  background: url(../img/galaxy.jpg) center/cover;
  opacity: 0.7;
}
.sec3left {
  background: url(../img/blackhole.jpg) center/cover;
  opacity: 0.7;
}

.sec1right,
.sec3right {
  background: rgba(245, 245, 245, 0.2);
  padding: 50px;
  text-align: left;
}
.sec2left {
  background: rgba(245, 245, 245, 0.2);
  padding: 50px;
  text-align: right;
}

/* ****** FOOTER ****** */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;
  padding-bottom: 100px;
  background: #000000;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 40%,
    rgba(255, 255, 255, 0) 100%
  );
}
.pic {
  background: url(../img/astronaut.jpg) center/cover;
  height: 150px;
  width: 150px;
  border-radius: 100px;
  box-shadow: rgba(236, 74, 182, 0.747)-8px 6px 11px 0px;
  margin: 0 auto;
}

.network {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.network li {
  font-size: 1.5rem;
}
