* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: url(./baw.jpg) center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  color: whitesmoke;
  text-decoration: overline;
}

