* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(./aquarelle.jpg) center/cover;
}

body::selection {
  background-color: rgb(94, 42, 23);
  color: whitesmoke;
}

h2 {
  margin: 20px;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(94, 23, 23);
}

.bar {
  width: 80%;
  display: flex;
}

#enter-todo {
  border: solid 1px rgb(94, 23, 23);
  border-radius: 20px;
  height: 35px;
  max-width: 90vh;
  padding-left: 15px;
  color: whitesmoke;
  font-size: 1.1rem;
  background: rgba(94, 23, 23, 0.7);
}

#enter-todo:focus {
  outline: solid 2px rgb(94, 23, 23);
}
#enter-todo:hover {
  box-shadow: 0 0 7px 0 rgb(94, 23, 23);
}

#add {
  min-height: 40px;
  min-width: 40px;
  margin-left: 20px;
  border-radius: 25px;
  border: none;
  background: rgb(94, 23, 23);
  color: whitesmoke;
  text-transform: uppercase;
  cursor: pointer;
  transition: ease 0.2s;
}
#add:hover {
  box-shadow: 0 0 7px 0 rgb(94, 23, 23);
}

#add:active {
  transform: scale(1.2);
}

button {
  grid-area: "btn";
  height: 30px;
  min-width: 80px;
  border-radius: 25px;
  border: none;
  background: rgb(94, 23, 23);
  color: whitesmoke;
  cursor: pointer;
  transition: ease 0.2s;
  font-size: 0.9rem;
}

button:active {
  transform: scale(1.2);
}

ul {
  margin: 20px 0;
  color: whitesmoke;
  font-size: 1.1rem;
  cursor: pointer;
  list-style: none inside;
  align-items: center;
}

li {
  background: rgba(94, 23, 23, 0.6);
  border-radius: 10px;
  padding: 10px 15px;
  margin-top: 10px;
  max-width: 100vh;
  overflow: hidden;
  word-wrap: break-word;
}
li:hover::after {
  content: "(terminer)";
  font-style: italic;
  padding-left: 15px;
  font-size: 0.8rem;
}

.todo-done {
  font-style: italic;
}

.todo-done::before {
  content: "✓";
  height: 10px;
  width: 10px;
  padding-right: 15px;
}
.todo-done:hover::after {
  content: "(supprimer)";
  padding-left: 15px;
  font-size: 0.8rem;
}
